body {
  background-color: #336699;
  color: white;
}
.cont{
  /*width: margin: 15%;*/
}
.center{
  text-align: center;

}
.search-window{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.container{
  margin-top: 30px;
  color:black;
  opacity: .95;
}
.background{
  background-color: lightgrey;
}
