body {
  text-align: center;
  background-color: #96C950;
  color: white;
}
.container{
  margin-top: 10%;
}
.clock-shell{
  background-color: white;
  border-radius: 25px;
  color: black;
  opacity: .8;
  padding: 25px;
}
.clock-digits{
  font-size: 30px;

}
.clock{
}
